In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("data.csv")

In [90]:
target = df["D"].shift(-1)

In [91]:
df2 = pd.DataFrame()

In [92]:
for index, columns in enumerate(["A","B","C","D"]):
    print(i,columns)
    for i in range(len(df)):
        fill_value = df[columns].iloc[i]
        df[f"{columns}_Lag_{i}"] = df[columns].shift(-i,fill_value=fill_value)

227 A
227 B
227 C
227 D

C:\Users\Skwix\AppData\Local\Temp/ipykernel_15808/4152372230.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"{columns}_Lag_{i}"] = df[columns].shift(-i,fill_value=fill_value)

In [93]:
df.drop(["A","B","C","D"],axis=1,inplace=True)

In [94]:
df

,A_Lag_0,A_Lag_1,A_Lag_2,A_Lag_3,A_Lag_4,A_Lag_5,A_Lag_6,A_Lag_7,A_Lag_8,A_Lag_9,...,D_Lag_218,D_Lag_219,D_Lag_220,D_Lag_221,D_Lag_222,D_Lag_223,D_Lag_224,D_Lag_225,D_Lag_226,D_Lag_227
0,10.07,10.00,9.95,9.93,9.88,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3
1,10.00,9.95,9.93,9.88,9.84,9.78,9.73,9.67,9.60,9.56,...,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3,1.3
2,9.95,9.93,9.88,9.84,9.78,9.73,9.67,9.60,9.56,9.48,...,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3,1.5,1.3
3,9.93,9.88,9.84,9.78,9.73,9.67,9.60,9.56,9.48,9.37,...,1.3,1.3,1.5,1.6,1.4,1.5,1.3,1.4,1.5,1.3
4,9.88,9.84,9.78,9.73,9.67,9.60,9.56,9.48,9.37,9.28,...,1.3,1.5,1.6,1.4,1.5,1.3,1.6,1.4,1.5,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,8.98,8.91,8.80,8.73,8.70,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3
224,8.91,8.80,8.73,8.70,9.88,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3
225,8.80,8.73,8.70,9.93,9.88,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3
226,8.73,8.70,9.95,9.93,9.88,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3
227,8.70,10.00,9.95,9.93,9.88,9.84,9.78,9.73,9.67,9.60,...,1.5,1.9,1.4,1.3,1.3,1.5,1.6,1.4,1.5,1.3